<div class="container-fluid text-center">
  <div class="jumbotron">
    <h1>Campaign Manager</h1>
    <p>A simple manager for players to handle characters and campaigns.</p>
  </div>

  <form method="get" action="/campaigns" style="padding:10px">
    <button type="submit" class="btn btn-primary btn-lg">Campaign List</button>
  </form>
  <form method="get" action="/characters">
    <button type="submit" class="btn btn-primary btn-lg">Character List</button>
  </form>

</div>
