<form action="/campaigns/created" method="post">
  <ul>
    <h3>Campaign Details</h3>
  </ul>
  <ul>
    <label for="name">Name</label>
      <input type="text" name="name" id="name">
  </ul>
  <ul>
    <input type="submit" value="Save">
  </ul>
</form>