/* General Styling */

body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.large-flex {
  display: flex;
  flex-flow: row wrap;
}

.flex-item {
  width: 13em;
  height: 17em;
  box-shadow: 0.5em 0.5em 0.25em grey;
  border-radius: 1em;
  background: lightgray;
  text-align: left;
  padding-left: 1.5em;
  padding-top: 0.7em;
  margin: 1vw;
}

.char-sheet-item {
  background: lightgray;
  text-align: left;
  border-radius: 1em;
  padding: 0.3em;
  padding-left: 1em;
  margin: 1vw;
}

.scroll-container-large {
  height: 10em; 
  line-height: 1em; 
  overflow: auto; 
  margin-top: 0.5em;
}

.scroll-container-small {
  height: 5em; 
  line-height: 1em; 
  overflow: auto; 
  margin-top: 0.5em;
}

.cell td {
  padding: 0.3em;
  margin: 0.5em;
}