<form action="/characters/complete" method="post">
  <ul>
    <label for="strength">Strength</label>
      <input type="number" name="strength" id="strength">
  </ul>
  <ul>
    <input type="submit" value="Save">
  </ul>
</form>
