<form action="/characters/createpg1" method="post">
  <ul>
    <label for="name">Name</label>
      <input type="text" name="name" id="name">
  </ul>
  <ul>
    <label for="char-class">Class</label>
      <select id="char-class" name="char_class">
        <option value="Druid">Druid</option>
        <option value="Paladin">Paladin</option>
        <option value="Rogue">Rogue</option>
      </select>
  </ul>
  <ul>
    <label for="level">Level</label>
      <input type="number" name="level" id="level">
  </ul>
  <ul>
    <label for="xp-points">XP</label>
      <input type="number" name="xp_points" id="xp-points">
  </ul>
  <ul>
    <label for="race">Race</label>
      <select id="race" name="race">
        <option value="Elf">Elf</option>
        <option value="Dwarf">Dwarf</option>
        <option value="Tiefling">Tiefling</option>
        <option value="Human">Human</option>
      </select>
  </ul>
  <ul>
    <label for="background">Background</label>
      <input type="text" name="background" id="background">
  </ul>
  <ul>
    <label for="alignment">Alignment</label>
      <select id="alignment" name="alignment">
        <option value="Lawful Good">Lawful Good</option>
        <option value="Neutral Good">Neutral Good</option>
        <option value="Chaotic Good">Chaotic Good</option>
        <option value="Lawful Neutral">Lawful Neutral</option>
        <option value="True Neutral">True Neutral</option>
        <option value="Chaotic Neutral">Chaotic Neutral</option>
        <option value="Lawful Evil">Lawful Evil</option>
        <option value="Neutral Evil">Neutral Evil</option>
        <option value="Chaotic Evil">Chaotic Evil</option>
      </select>
  </ul>
  <ul>
    <input type="submit" value="Save">
  </ul>
</form>
