<form action="/characters/newpg2" method="post">
  <ul>
    <h3>Core Stats</h3>
  </ul>
  <ul>
    <label for="strength">Strength</label>
      <input type="number" name="strength" id="strength">
  </ul>
  <ul>
    <label for="dexterity">Dexterity</label>
      <input type="number" name="dexterity" id="dexterity">
  </ul>
  <ul>
    <label for="constitution">Constitution</label>
      <input type="number" name="constitution" id="constitution">
  </ul>
  <ul>
    <label for="intelligence">Intelligence</label>
      <input type="number" name="intelligence" id="intelligence">
  </ul>
  <ul>
    <label for="wisdom">Wisdom</label>
      <input type="number" name="wisdom" id="wisdom">
  </ul>
  <ul>
    <label for="charisma">Charisma</label>
      <input type="number" name="charisma" id="charisma">
  </ul>
  <ul>
    <h3>Other Stats</h3>
  </ul>
  <ul>
    <label for="armour-class">AC</label>
    <input type="number" name="armour_class" id="armour-class">
  </ul>
  <ul>
    <label for="initiative">Initiative</label>
    <input type="number" name="initiative" id="initiative">
  </ul>
  <ul>
    <label for="speed">Speed</label>
    <input type="number" name="speed" id="speed">
  </ul>
  <ul>
    <label for="hp-max">HP Max</label>
    <input type="number" name="hp_max" id="hp-max">
  </ul>
  <ul>
    <label for="current-hp">Current HP</label>
    <input type="number" name="current_hp" id="current-hp">
  </ul>
  <ul>
    <label for="temp-hp">Temp HP</label>
    <input type="number" name="temp_hp" id="temp-hp">
  </ul>
  <ul>
    <label for="total-hit-dice">Total Hit Dice</label>
    <input type="text" name="total_hit_dice" id="total-hit-dice">
  </ul>
  <ul>
    <label for="current-hit-dice">Current Hit Dice</label>
    <input type="text" name="current_hit_dice" id="current-hit-dice">
  </ul>
  <ul>
    <label for="death-saves">Death Saves</label>
    <input type="number" name="death_saves" id="death-saves">
  <ul>
    <h3>Proficiencies</h3>
  </ul>
  <ul>
    <label for="armour-profs">Armour Proficiencies</label>
      <input type="text" name="armour_profs" id="armour-profs">
  </ul>
  <ul>
    <label for="weapon-profs">Weapon Proficiencies</label>
      <input type="text" name="weapon_profs" id="weapon-profs">
  </ul>
  <ul>
    <label for="tool-profs">Tool Proficiencies</label>
      <input type="text" name="tool_profs" id="tool-profs">
  </ul>
  <ul>
    <label for="saving-throw-profs">Saving Throw Proficiencies</label>
      <input type="text" name="saving_throw_profs" id="saving-throw-profs">
  </ul>
  <ul>
    <label for="skill-profs">Skill Proficiencies</label>
      <input type="text" name="skill_profs" id="skill-profs">
  </ul>
  <ul>
    <label for="language-profs">Language Proficiencies</label>
      <input type="text" name="language_profs" id="language-profs">
  </ul>
  <ul>
    <input type="submit" value="Next Page">
  </ul>
</form>
