<form action="/characters/created" method="post">
  <ul>
    <h3>Character Details</h3>
  </ul>
  <ul>
    <label for="personality">Personality</label>
      <input type="text" name="personality" id="personality">
  </ul>
  <ul>
    <label for="ideals">Ideals</label>
      <input type="text" name="ideals" id="ideals">
  </ul>
  <ul>
    <label for="bonds">Bonds</label>
      <input type="text" name="bonds" id="bonds">
  </ul>
  <ul>
    <label for="flaws">Flaws</label>
      <input type="text" name="flaws" id="flaws">
  </ul>
  <ul>
    <label for="features">Features and Traits</label>
      <input type="text" name="features" id="features">
  </ul>
  <ul>
    <input type="submit" value="Save">
  </ul>
</form>
