<form action="/characters" method="post">
  <ul>
    <label for="name">Name</label>
      <input type="text" name="name" id="name">
  </ul>
  <ul>
    <label for="char-class">Class</label>
      <select id="char-class" name="char_class">
        <option value="Druid"></option>
        <option value="Paladin"></option>
        <option value="Rogue"></option>
      </select>
  </ul>
  <ul>
    <label for="level">Level</label>
      <input type="number" name="level" id="level">
  </ul>
  <ul>
    <label for="xp-points">XP</label>
      <input type="number" name="xp_points" id="xp-points">
  </ul>
  <ul>
    <label for="race">Race</label>
      <select id="race" name="race">
        <option value="Elf"></option>
        <option value="Dwarf"></option>
        <option value="Tiefling"></option>
        <option value="Human"></option>
      </select>
  </ul>
  <ul>
    <label for="background">Background</label>
      <input type="text" name="background" id="background">
  </ul>
  <ul>
    <label for="alignment">Alignment</label>
      <input type="text" name="alignment" id="alignment">
  </ul>
</form>
